<section>
    <div class="container" ng-init="submittedSearch=false">
        <div class="row">
            <h1>{{chosenRecipe[0].title}}</h1>
            <div class="col-md-6">
                <h2>Ingredients:</h2>
                <div ng-repeat="ingredient in chosenRecipe[0].extendedIngredients">
                    <p>{{ingredient.name|capitalize}}</p>
                </div>
            </div>
            <div class="col-md-6">
                <img ng-src="{{chosenRecipe[0].image}}" class="img-fluid img-uniform" alt="Responsive image">
            </div>
            <div ng-if="!chosenRecipe[0].extendedIngredients && submittedSearch" class="alert alert-danger alert-dismissible centre-custom">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                No ingredients found for this recipe
            </div>
            <h2 class="instructions">Instructions:</h2>
            <div ng-repeat="instructionParts in instructions">
                <div ng-repeat="instructionPart in instructionParts">
                    <div ng-repeat="stepInfo in instructionPart.steps">
                        <p>{{stepInfo.number}}) {{stepInfo.step}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="!chosenRecipe[0].instructions && submittedSearch" class="alert alert-danger alert-dismissible centre-custom">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            No instructions found for this recipe
        </div>
    </div>
    <div class="centre-filters">
        <a ng-click="addToShoppingList(chosenRecipe[0],alert_added_ingredients())" class="btn btn-filter centre-custom">
            Add ingredients to shopping list</a>
        </div>
        <div ng-if="add_ingred_list" class="alert alert-success centre-custom">
            <p>Your ingredients have been added to the Shopping List!</p> 
        </div>
    </div>
</div>
</div>
</div>
</section>