    <div class="col-lg-4 col-sm-6 cuisine-selection" ng-repeat="cuisine in cuisineTypes"> 
                    <a ng-click="getData()" class="portfolio-box">
                    <!-- height="228.03"  -->
                        <img ng-src="img/portfolio/thumbnails/{{cuisine}}.jpg" class="img-fluid" alt="Responsive image" > 
                        <div class="portfolio-box-caption"> 
                            <div class="portfolio-box-caption-content"> 
                                <div class="project-name"> 
                                    {{cuisine}} Recipes 
                                </div> 
                            </div> 
                        </div>


    


