

<section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div ng-if="recipes.length == false && submittedSearch" class="alert alert-danger centre-custom">
                    No results found, please adjust your search parameters and try again
                </div>
                <div class="col-lg-6 col-sm-6 center-block" ng-repeat="recipe in recipes">
                    <a href="/index/recipe" ng-click="getDetailedData(recipe.id)" class="portfolio-box">
                        <img ng-src="{{recipe.image}}" class="img-fluid img-uniform" alt="Responsive image"> 
                        <div class="recipe-summary">{{recipe.title}}</div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    


