<section class="bg-primary filter-wrapper" id="search">
    <div class="container">
        <div class="row">
            <div >

                <h3 class="section-heading text-center red-text"> Cuisine Type </h3>
                <p class="text-center red-text">Please select your cuisine type preference </p>
                <div class="centre-filters">
                    <div class="filter-loop" ng-repeat="cuisine in cuisines">
                        <a  ng-attr-id="{{cuisine}}" ng-click="changeSelection(filters.cuisine, cuisine)" class="btn btn-filter">{{cuisine|capitalize}}</a>
                    </div>
                    <a ="none1" ng-click="removeFilters(filters.cuisine)" class="btn btn-filter-none">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                </div>
            </div>


            <div >
                <p></p>
                <h3 class="section-heading text-center red-text"> Dietary Needs </h3>
                <p class="text-center red-text"> Please select a dietary need</p>
                <div class="container centre-filters ">
                    <div class="filter-loop" ng-repeat="diet in diets">
                        <a  ng-attr-id="{{diet}}" ng-click="changeSelection(filters.diet, diet)" class="btn btn-filter">{{diet|capitalize}}</a>
                    </div>
                    <a id="none2" ng-click="removeFilters(filters.diet)" class="btn btn-filter-none">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>

                </div>
            </div>

            <div ng-if="filters.cuisine.length > 0">
                <div ng-repeat="cuisine in filters.cuisine">
                    <div filter-update="{{cuisine}}"></div>
                </div>
            </div>

            <div ng-if="filters.diet.length > 0">
                <div ng-repeat="diet in filters.diet">
                    <div filter-update="{{diet}}"></div>
                </div>
            </div>

            <!-- <div class="red-text" repeat-hello-world='{{ repeat }}'></div> -->
            <input type="text" class="form-control" name="addIngredient" placeholder="Add Ingredients to search by..." ng-model="filters.includeIngredients">
            <label class="input-label">Please seperated ingredients using a comma e.g. "Pasta, Beef, Tomatoes"</label>


            <!-- Section here is just for debugging purposes, will remove before release -->
            <h4 class="red-text">Selected Cuisine: </h4>
            <p class="red-text">{{filters.cuisine[0]|capitalize}} {{filters.cuisine[1]|capitalize}} {{filters.cuisine[2]|capitalize}} {{filters.cuisine[3]|capitalize}} {{filters.cuisine[4]|capitalize}} {{filters.cuisine[5]|capitalize}}</p>

            <h4 class="red-text">Selected Dietary Need: </h4>
            <p class="red-text">{{filters.diet[0]|capitalize}} {{filters.diet[1]|capitalize}} {{filters.diet[2]|capitalize}} {{filters.diet[3]|capitalize}} {{filters.diet[4]|capitalize}} {{filters.diet[5]|capitalize}}</p>
            <!--End of debugging section-->


            <div class="centre-filters">
                <a ng-click="getData(0, 'searchComplex'); getBtnText='View More Recipies'" class="btn btn-get centre-custom">{{getBtnText}}</a>
            </div>

        </div>
    </div>
</div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div ng-if="recipes.length == false && submittedSearch" class="alert alert-danger centre-custom">
                No results found, please adjust your search parameters and try again
            </div>
            <div class="col-lg-6 col-sm-6 center-block" ng-repeat="recipe in recipes">
                <a href="/index/details" class="portfolio-box">
                    <img ng-src="{{recipe.image}}" ng-click="getData(recipe.id, 'analyzedInstructions');getData(recipe.id, 'information')"  class="img-fluid img-uniform" alt="Responsive image"> 
                    <div class="recipe-summary">{{recipe.title}}</div>
                </a>
            </div>
        </div>
    </div>
</section>