<section>
    <div class="container">
        <div class="row">
            <form name="myform" class="centre-form">
                    <div>
                        <h1>Shopping List</h1>
                        <p></p>
                    </div>

                    <fieldset>
                    <input type="text" class="form-control" name="addIngredient" placeholder="Add Ingredient..." ng-model="ingredient">

                    </fieldset>
                    <button type="button" class="btn btn-primary list-submit" ng-click="addIngredient();ingredient=''">
                    Submit
                    </button>

                    <div ng-repeat="ingredient in ingredients">
                        {{ingredient}} 
                        <button type="button" class="btn btn-primary list-submit" ng-click="removeIngredient(ingredient)">
                        Delete
                        </button>
                    </div>



            </form>
        </div>
    </div>
</section>